* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerFeed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 6rem;
  background: transparent;
  max-width: 800px;
  position: relative;
}

.section-feed__text {
  backdrop-filter: blur(10px); /* Ajuste o valor de blur conforme necessário */
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  position: relative;
  width: 100%; /* Garante que a caixa ocupe toda a largura do seu contêiner */
  min-height: 300px; /* Altura mínima para a caixa de postagem */
  margin-bottom: 20px; /* Espaçamento entre as caixas */
}

.section-feed__text h3 {
  color: white;
}

@media (max-width: 480px) {
  .containerFeed {
    padding: 1rem;
  }
}

.section-feed__text .feedCreation {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button--blue {
  background-image: linear-gradient(
    to right,
    #b993d6 0%,
    #8ca6db 51%,
    #b993d6 100%
  );
  align-items: center;
  width: 100px;
  height: 50px;
  color: rgb(11, 12, 12);
  border: 2px solid rgb(255, 255, 255, 0.2);
  border-radius: 40px;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.imgOwnerFeed {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid;
}

.imgOwnerFeed:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
