.containerFeed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 3rem 6rem;
}

@media (max-width: 480px) {
  .containerFeed {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 2rem;
    text-align: center;
  }
  .section-feed__text {
    text-align: center;
    align-items: center;
  }
}

.section-feed__text {
  display: flex;
  flex-direction: column;
  color: var(--color-navy-blue);
  gap: 10px;
}

.section-feed__text h3 {
  color: var(--color-navy-blue);
  font-weight: 700;
}

.section-forum__text p {
  display: inline-block;
  font-size: large;
}

.feedContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  max-height: 3rem;
  position: relative;
}

.feedContent::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
}

.containerFeedOwner {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imgOwnerFeed {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--primary-color-green);
}
.imgOwnerFeed:hover {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.containerFeed button {
  align-items: center;
  width: 150px;
}
